<div class="container pb-3">
    <div class="d-flex flex-column flex-md-row align-items-center">
        <!-- logo -->
        <a href="/" class="d-flex img-container">
            <img src="{{ url_for('static', filename='img/logo-orange.png') }}" alt="PyPos Logo">
        </a>
        <!-- menu -->
        <nav class="d-inline-flex ms-md-auto">
            <a class="p-2 text-decoration-none nav-link active" href="{{ url_for('page.index') }}">Home</a>
            <a class="p-2 text-decoration-none nav-link" href="{{ url_for('page.getting_started') }}">Getting Started</a>
            {% if not g.user %}
            <a class="p-2 text-decoration-none nav-link" href="{{ url_for ('page.register_client') }}">Join Canteen</a>
            <a class="btn btn-primary" href="{{ url_for('page.login') }}">Login</a>
            {% elif 'acess_canteen_index' in session['permissions'] %}
            <a class="p-2 text-decoration-none nav-link" href="{{ url_for('page.pos_main') }}">User Area</a>
            <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            <a class="p-2 text-decoration-none nav-link" href="{{ url_for('page.client_index') }}">User Area</a>
            <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Log Out</a>
            {% endif %}
        </nav>
    </div>
</div>