.venv/
.vscode

*.pyc
__pycache__/

instance/
resources/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.env
TODO.md
/instance

**/uploads/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!*/.gitkeep