{% extends "base_user.html" %}
{% block title %}Client{% endblock %}
{% block content %}
<h1>Manual Deposit</h1>
<hr>
<div class="container">
    <form method='post' action="{{ url_for('user_space.add_user_recharge') }}" class="w-100 m-auto form-signin row g-3"
        style="max-width:400px;">
        <p>Please inform the value you have deposited and the timestamp, so the canteen staff can check it on the
            system.</p>
        <div>
            <label for="total" class="form-label">Deposit Value</label>
            <input type="number" class="form-control" name="total" placeholder="20.00">
        </div>
        <div>
            <label for="timestamp_code" class="form_label">Timestamp</label>
            <input type="text" class="form-control" id="timestamp_code" name="timestamp_code"
                placeholder="01-01-2022-19:23">
        </div>
        <div>
            <label for="timestamp" class="form_label">Deposit Method</label>
            <select class="form-select" name="payment_method">
                {% for payment_method in data.payment_methods %}
                {% if loop.index == 0 %}
                <option value="{{ payment_method[0] }}" selected>{{ payment_method[1] }}</option>
                {% else %}
                <option value="{{ payment_method[0] }}">{{ payment_method[1] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Send payment voucher</button>
        <a href="{{ url_for('page.client_index') }}" class="btn btn-secondary" type="submit">Cancel</a>
    </form>
</div>
{% endblock %}