{% extends "base_user.html" %}
{% import "_forms/input.html" as forms with context %}
{% block title %}Client{% endblock %}
{% block content %}
<h1>Manual Deposit</h1>
<hr>
<div class="container">
    <form method='post' action="{{ url_for('user_space.add_user_recharge') }}" class="w-100 m-auto form-signin row g-3"
        style="max-width:400px;">
        <p>Please inform the value you have deposited and the id_code (like a timestamp). </p>
        {{ forms.regular_input(name="total", label="Deposit Value", placeholder="20.00") }}
        {{ forms.regular_input(name="timestamp_code", label="ID Code", placeholder="01-01-2022-19:23") }}
        <div>
            <label for="timestamp" class="form_label">Deposit Method</label>
            <select class="form-select" name="payment_method">
                {% for payment_method in data.payment_methods %}
                {% if loop.index == 0 %}
                <option value="{{ payment_method[0] }}" selected>{{ payment_method[1] }}</option>
                {% else %}
                <option value="{{ payment_method[0] }}">{{ payment_method[1] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <p>Obs: Deposit will be pending until accepted by the staff.</p>
        <button class="btn btn-primary" type="submit">Send payment voucher</button>
        <a href="{{ url_for('page.client_index') }}" class="btn btn-secondary" type="submit">Cancel</a>
    </form>
</div>
{% endblock %}