{% extends "base_user.html" %}
{% import "_forms/input.html" as forms with context %}
{% block title %}Manage Clients{% endblock %}
{% block content %}
<h1>Manage Clients</h1>
<hr class="p-3">
<div class="container">
    <div class="mb-3">
        <h2>Recharge Client's Account</h2>
    </div>
    <form method='post' action="{{ url_for('canteen.manage_clients.add_user_recharge_from_pos') }}"
        class="w-100 m-auto form-signin row g-3" style="max-width:400px;">
        {{ forms.regular_input(name="total", label="Deposit Value", placeholder="20.00") }}
        <div>
            <label for="payment_method" class="form_label">Deposit Method</label>
            <select class="form-select" id="payment_method" name="payment_method">
                {% for payment_method in data.payment_methods %}
                {% if loop.index == 0 %}
                <option value="{{ payment_method[0] }}" selected>{{ payment_method[1] }}</option>
                {% else %}
                <option value="{{ payment_method[0] }}">{{ payment_method[1] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <input hidden name="user_account_id" value="{{ data.account_id }}">
        <button class="btn btn-primary" type="submit">Recharge</button>
        <a href="{{ url_for('page.manage_clients') }}" class="btn btn-secondary" type="submit">Cancel</a>
    </form>
</div>
{% endblock %}