{% extends "base_user.html" %}
{% import "_forms/input.html" as forms with context %}
{% block custom_scripts %}
<script src="{{ url_for('static', filename='custom/form_utils.js') }}"></script>
{% endblock %}
{% block title %}Manage Products{% endblock %}
{% block content %}
<h1>Manage Products</h1>
<hr class="p-3">

<div class="container">
    <h2 class="text-center mb-3">Add Product</h2>
    <form method="post" action="{{ url_for('canteen.product.add_product') }}" enctype="multipart/form-data"
        class="row g-5">
        <!-- img -->
        {{ forms.fileupload_input() }}
        <!-- fields -->
        <div class="col-9 w-50">
            <div class="row">
                {{ forms.regular_input(name="name", label="Name", placeholder="Product Name") }}
                {{ forms.regular_input(name="price", label="Price", placeholder="10.00") }}
                <div class="col-12 mb-3">
                    <label for="category_id" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" name="category_id">
                        <option selected value="0">None</option>
                        {% for category in data.categories %}
                        {% if category.active == 1 %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                        {% endfor %}
                        <option>-- Add a category--</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary w-auto align-bottom" type="submit">Add Product</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}