{% extends "base_user.html" %}
{% import "_forms/input.html" as forms with context %}
{% block title %}Manage Products{% endblock %}
{% block content %}
<h1>Manage Products</h1>
<hr class="p-3">

<div class="container">
    <h2 class="text-center mb-3">Update Product</h2>
    <form method="post" action="{{ url_for('canteen.product.update_product') }}" class="row g-5">
        <!-- img -->
        <div class="col-3">
            <svg class="bd-placeholder-img card-img-top mb-3" width="100" height="325"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Thumbnail</text>
            </svg>
            <div class="">
                <input type="file" class="form-control" id="description" name="file" placeholder="bar">
            </div>
        </div>
        <!-- fields -->
        <div class="col-9 w-50">
            <div class="row">
                <input type="hidden" name="product_id" value="{{ data.product.id }}">
                {{ forms.regular_input(name="name", label="Name", placeholder="Product Name") }}
                {{ forms.regular_input(name="price", label="Price", placeholder="10.00") }}
                <div class="col-12 mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" name="category_id">
                        <option selected value="0">None</option>
                        {% for category in data.categories %}
                        {% if category.id == data.product.category %}
                        <option selected value="{{ category.id }}">{{ category.name }}</option>
                        {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                        {% endfor %}
                        <option>-- Add a category--</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary w-auto align-bottom" type="submit">Update Product</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}