{% extends "base_user.html" %}
{% block title %}Manage Employees - Update Employee{% endblock %}
{% block content %}
<h1>Manage Employees</h1>
<hr class="p-3">

<div class="container">
    <h2 class="text-center mb-3">Update Employee</h2>

    <!-- img -->
    <div class="row g-5">
        <div class="col-3">
            <div id="profile_image" class="mb-3">
                <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="300" height="300">
            </div>
            <div class="">
                <input disabled type="file" class="form-control" id="description" name="file" placeholder="bar">
            </div>
        </div>
        <!-- fields -->
        <div class="col-9 w-50">
            <div class="row">
                <form method="post" action="{{ url_for('canteen.manage_employee.update') }}">
                    <input hidden name="id" value="{{ data.employee.id }}">
                    <div class="col-12 mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input disabled type="text" class="form-control" id="name" name="name"
                            placeholder="{{ data.employee.username }}">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input disabled type="email" class="form-control" id="email" name="email"
                            placeholder="{{ data.employee.email }}">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input disabled type="password" class="form-control" id="password" name="password"
                            placeholder="********">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        <input disabled type="text" class="form-control" id="phone_number" name="phone_number"
                            placeholder="{{ data.employee.phone_number }}">
                    </div>

                    <div class="col-12 mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select id="role" class="form-select" aria-label="Default select example" name="role_id">
                            {% for role in data.roles %}
                            {% if role.name == data.employee.role_name %}
                            <option selected value="{{ role.id }}">{{ role.name }}</option>
                            {% else %}
                            <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary w-auto align-bottom"
                            href="{{ url_for('page.manage_employees') }}">Cancel</a>
                        <button class="btn btn-primary w-auto align-bottom" type="submit">Update Role</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}