{% extends "base_user.html" %}
{% block title %}Point of Sale Dashboard{% endblock %}
{% block content %}
<h1>Point of Sale Dashboard</h1>
<div class="row g-3">
    <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Thumbnail</text>
            </svg>

            <div class="card-body">
                <h3 class="card-title text-muted">Pão de Queijo</h3>
                <p class="card-text">Category</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add</button>
                        <button type="button" class="btn btn-sm btn-outline-danger">Reset</button>
                    </div>
                    <p class="h4 text-muted"><span class="badge bg-secondary">R$5,00</span></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}