{% extends "base_user.html" %}
{% block title %}Point of Sale - Reports{% endblock %}
{% block content %}
<h1>Point of Sale - Reports</h1>
<hr>
<div class="container-liquid">
    <div class="row">
        <div class="col-12 col-md-7">
            <h2>All Transactions</h2>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Transaction Type</th>
                        <th>Payment Method</th>
                        <th>Total</th>
                        <th>Subtotal</th>
                </thead>
                <tbody>
                    {% for transaction in data.transactions %}
                    <tr>
                        <td>{{ transaction.date_time }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.payment_method }}</td>
                        <td>{{ transaction.total }}</td>
                        <td>{{ transaction.row_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Pending Transactions</h2>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Timestamp Code</th>
                        <th>User</th>
                        <th>Transaction Type</th>
                        <th>Payment Method</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in data.pending_transactions %}
                    <tr>
                        <td>{{ transaction.date_time }}</td>
                        <td>{{ transaction.timestamp_code }}</td>
                        <td>{{ transaction.user_name }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.payment_method }}</td>
                        <td>{{ transaction.total }}</td>
                        <td>
                            <form method="post" action="{{ url_for('canteen.point_of_sale.reject_pending_recharge') }}">
                                <input hidden name="transaction_id" value="{{ transaction.id }}">
                                <button type="submit" class="btn btn-secondary">Reject</button>
                            </form>
                            <form method="post" action="{{ url_for('canteen.point_of_sale.accept_pending_recharge') }}">
                                <input hidden name="transaction_id" value="{{ transaction.id }}">
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-5">
            <h2>Summary</h2>
            <hr>
            <h3>Sales</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge bg-success">most sales</span>
                    <strong>Foo Good</strong> with 50% of sales
                </li>
                <li class="list-group-item">
                    <span class="badge bg-danger">less sales</span>
                    <strong>Foo Bad</strong> with 2% of sales
                </li>
            </ul>
            <h3>Invoice</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge bg-success">higher invoice</span>
                    <strong>Bar Good</strong> with 87% of the invoice
                </li>
                <li class="list-group-item">
                    <span class="badge bg-danger">lower invoice</span>
                    <strong>Bar Bad</strong> with 4% of the invoice
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}