{% extends "base_public.html" %}
{% block title %}Pypos Canteen{% endblock %}
{% block content %}
<div class="container col-6">
    <h1>Getting started</h1>
    <p>To try out the Pypos System you can login in the role you prefer.<br>You may also create account for various roles (exept owner).</p>
    <section>
        <h2>Existing accounts</h2>
        <p>Here I'll place a table with the roles, account names and password</p>
    </section> 
    <section>
        <h2>How to create accounts</h2>
        <p>Here I'll put some diagrams that shows the flow of creating client account, dependent accounts or employee accounts.</p>
    </section> 
</div>
{% endblock %}