{% extends "base_public.html" %}
{% block title %}Pypos Canteen{% endblock %}
{% block content %}
<div class="container col-6">
    <h1>Getting started</h1>
    <p>To try out the Pypos System you can login in the role you prefer.<br>You may also create account for various
        roles (exept owner).</p>
    <section>
        <h2>Existing accounts</h2>
        <p>Use these accounts to test each role</p>
        <table class="table table-light table-striped">
            <thead>
                <tr class="table-secondary">
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>jane_oconnor</td>
                    <td>Owner</td>
                </tr>
                <tr>
                    <td>dale_raymond</td>
                    <td>Manager</td>
                </tr>
                <tr>
                    <td>breanna_rosario</td>
                    <td>Cashier</td>
                </tr>
                <tr>
                    <td>mauricio_galvan</td>
                    <td>Client</td>
                </tr>
                <tr>
                    <td>john_galvan</td>
                    <td>Client Dependent</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h2>How to create accounts</h2>
        <p>Here I'll put some diagrams that shows the flow of creating client account, dependent accounts or employee
            accounts.</p>
    </section>
</div>
{% endblock %}