{% extends "base_public.html" %}
{% import "_forms/input.html" as forms with context %}
{% block custom_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/public-login.css') }}">
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="form-body text-center">
        <div class="form-signin w-100 rounded m-auto">
            <form action="{{ url_for('auth.login') }}" method="post">
                <h1 class="mb-3 p-3 fw-normal">Login</h1>
                {{ forms.input(name="username", label="Username") }}
                {{ forms.input(name="password", label="Password", type="password") }}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
            </form>
            <p class=""><a href="{{ url_for('page.register_client') }}">Or register</a></p>
        </div>
    </div>
</div>
{% endblock %}