{% extends "base_public.html" %}
{% import "_forms/input.html" as forms with context %}
{% block custom_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/public-login.css') }}">
{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="form-body text-center">
        <div class="form-signin w-100 m-auto rounded">
            <form action="{{ url_for('auth.register_client') }}" method="post">
                <h1 class="mb-3 p-3 fw-normal">Create Account</h1>
                <p>Join a canteen as a client</p>
                {{ forms.input(name="username", label="Username", placeholder="user_123") }}
                {{ forms.input(name="email", label="Email", placeholder="name@example.com") }}
                {{ forms.input(name="password", label="Password", placeholder="********", type="password") }}
                {{ forms.input(name="password_confirm", label="Confirm Password", placeholder="********",
                type="password") }}
                <input hidden name="current_url" value="{{ url_for('page.register_client') }}">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}