{% extends "base_public.html" %}
{% block custom_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/public-login.css') }}">
{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="form-body text-center">
        <div class="form-signin w-100 m-auto">
            <form action="{{ url_for('auth.register_client') }}" method="post">
                <h1 class="mb-3 p-3 fw-normal">Create Account</h1>
                <p>To join a canteen you must create an account too.</p>
                <p>The canteen should expose their Passphrase/ID for you. If not, request them to do so.</p>
                <div class="form-floating">
                    <input type="text" class="form-control" id="canteen_id" name="canteen_id" placeholder="canteen_id">
                    <label for="canteen_id">Canteen ID</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username" name="username" placeholder="user123">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm"
                        placeholder="Password">
                    <label for="floatingPassword">Confirm password</label>
                </div>
                <input hidden name="current_url" value="{{ url_for('page.register_client') }}">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}